/*
light blue
rgb(201,219,237)

2nd blue
rgb(137,188,230)

red orange
rgb(187,81,65)

orange
rgb(225,117,100)

peach
rgb(137,188,230)

yellow
rgb(246,224,167)
*/

div.small_photos > img {
  display: inline;
  width: 200px; 
  padding-right: 5px;
}

div.small_photos {
  width: 800px;
  padding: 0px;
  position: relative;
  left: -60px;
}

img#me {
  margin-top: 10px;
  width: 200px;
  display: block;
  margin: 0 auto;
  border-radius: 50%;
  border: solid black 2px;
}

div#navigation {
  display: block;
  margin: 0 auto;
  padding: 10px 100px;
  text-align: center;
}

div#email {
  width: 52%;
}

div#navigation div {
  transition: background-color 0.2s ease;
  background-color: white;
  border: 1px solid black;
  text-align: center;
  padding: 30px;
  margin: 10px;
  display: inline-block;
  border-radius: 10px;
  font-family: 'Droid Sans', sans-serif;
  font-weight: 700;
  font-size: 1.5em;
}

div#navigation div:hover{
  background-color: rgb(137,188,230);
}


div#linkedin {
  width: 22%;
}

div#twitter {
  width: 22%;
}

div#github {
  width: 22%;
}

div#resume {
  width: 22%;
}

a:link {
  text-decoration: none;
  color: black;
}

a:visited {
  color: black;
}

a:hover {
  color: black;
}

div#project_links {
  transition: background-color 0.2s ease;
  background-color: white;
  border: 1px solid black;
  padding: 30px;
  width: 82%;
  border-radius: 10px;
  margin: 0 auto;
  text-align: center;
  font-family: 'Droid Sans', sans-serif;
  font-weight: 700;
  font-size: 1.5em;
}

div#project_links:hover{
  background-color: rgb(137,188,230);
   cursor: pointer;
}

div#projects img.big {
  display: inline-block;
  width: 500px;
  border: 2px solid grey;
}

div#projects div {
  display: block;
  padding: 20px;
}

div#projects {
  padding: 50px 30px;
  background-color: rgb(201,219,237);
  margin-top: 60px;
}

div#about_me{
  display: block;
  margin: 0 auto;
  height: 100px;
  padding: 20px 150px;
  width: 700px;
  font-family: 'Droid Sans', sans-serif;
  font-weight: 400;
}

p {
  font-family: 'Open Sans', sans-serif;
}

div#name{
  transition: background-color 0.2s ease;
  padding: 20px;
  display: block;
  font-family: 'Droid Sans', sans-serif;
  font-weight: 700;
  color: black;
  font-size: 4em;
  text-align: center;
}

div#name:hover {
  background-color: rgb(137,188,230);
  cursor: default;
}

.summary {
  width: 500px;
  float: right;
  margin-right: 50px;
  margin-top: 20px;
  background-color: rgb(201,219,237);
  border-radius: 10px;
}

span.title {
  font-family: 'Droid Sans', sans-serif;
  font-weight: 800;
  font-size: 1.5em;
  line-height: 2.5em;
  padding-bottom: 10px;
}

#slideshow { 
    position: relative; 
    width: 500px; 
    margin: 20px;
    height: 379px; 
    border: 2px solid grey;
    overflow: hidden;
}

div#projects div#slideshow_wrapper {
  padding: 0px;
}

div#projects div#slideshow {
  padding: 0px;
}

div#projects div#slideshow div {
  padding: 0px;
}

div#projects div#slideshow img {
  padding: 0px;
  width: auto;
  height: 379px;
  border: 0px;
}

div.slideshow_summary {
  width: 500px;
  float: right;
  margin-right: 70px;
  margin-top: -300px;
  background-color: rgb(201,219,237);
  border-radius: 10px;
}

#slideshow > div { 
  position: absolute; 
  padding: 0px;
}

div.small_photos > img {
  display: inline;
  width: 200px;
}

@media only screen and (max-device-width: 690px) {
  img#me {
    display: none;
  }

  div#name {
    background-color: rgb(137,188,230);
    font-size: 1.5em;
    width: 120%;
  }

  div#about_me {
    font-size: .75em;
    display: inline;
    padding: 10px;
    margin-left: 20%;
    text-align: center;
  }

  div#navigation div {
    background-color: white;
    border-radius: 10px;
    border: 1px solid black;
    padding-left: 10px;
    margin: 10px;
    padding-right: 10px;
    color: black;
    width: 95%;
    font-family: 'Droid Sans', sans-serif;
    font-weight: 400;
    display: block;
  }

  div#navigation {
    background-color: white;
    margin: 10px;
    font-family: 'Droid Sans', sans-serif;
    font-weight: 400;
    display: inline-block;
    width: 100%;
  }

  .title {
    background-color: white;
    color: #33CCFF;
    position: fixed;
    width: 100%;
    padding: 5px;
  }

  .summary {
    width: 90%;
    float: none;
    background-color: rgb(201,219,237);
  }

  body {
    font-size: 6em;
    font-weight: 400;
  }

  div#projects {
    width: 120%;
    background-color: rgb(201,219,237);
    height: 150%;
  }

  div#projects div {
    display: block;
    font-family: 'Droid Sans', sans-serif;
    font-weight: 400;
    width: 90%;
    font-size: .85em;
  }

  div.slideshow_summary {
    background-color: rgb(201,219,237);
    position: relative;
    top: 500px;
  }

  div.small_photos {
    display: none;
  }

  div.small_photos > img{
    display: none;
  }
}


